
BlogTemplate.BLL/obj/Debug/netcoreapp3.1/BlogTemplate.BLL.csproj.AssemblyReference.cache
BlogTemplate.Data/obj/Debug/netcoreapp3.1/BlogTemplate.Data.csproj.AssemblyReference.cache
BlogTemplate.Domain/obj/Debug/netcoreapp3.1/BlogTemplate.Domain.csproj.AssemblyReference.cache
